[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = ">=7.1.0"
numpy = "*"
matplotlib = "*"
tensorflow-gpu = "*"
tensorflow-hub = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
